{% extends '_base.html' %}

{% block page_title %}
	homepage
{% endblock %}

{% block content %}
	<div class="border white">
		<div>
		<p>We love <b>Technology</b>. So we created a blog site to share technology news.You may be wondering how to use it.
		it's simple in this page you can read description of this blog . in blog page you can read  your and other posts
		and in add post you can add your posts and i will be grateful if you share posts about this blog it means technology...
		</p>
		</div>

	</div>
{% endblock %}
