{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}
	add new post
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-9">
				<div class="card shadow my-3 p-5 white roundness">
					<h3>Add new Post:</h3>
					<form method="POST">
						{% csrf_token %}
						{{ form|crispy  }}
{#						<div class="form-group py-2">#}
{#							<label class="py-1">Enter post title</label>#}
{#							<input type="text" class="form-control" placeholder="e.g. Some Title" name="title">#}
{#						</div>#}
{#						<div class="form-group py-2">#}
{#							<label class="py-1">Enter post text:</label>#}
{#							<textarea class="form-control" name="text" rows="8"#}
{#							          placeholder="Enter your post text here..."></textarea>#}
{#						</div>#}
						<button type="submit" class="btn rm_d">Submit</button>
					</form>
				</div>
			</div>
			<div class="col-3">

				<div class="card my-4">
					<h5 class="card-header">About blog</h5>
					<div class="card-body white">
						<p class="card-text text_color">We love <b>Technology</b>. So we created a blog site to share
							technology news</p>
						<a href="{% url 'homepage' %}"
						   class="btn btn-sm  rm_d ">
							More...
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}