{% extends '_base.html' %}

{% block page_title %}
	post list
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-9 ">
				{% for post in posts_list%}

					<div class="card shadow my-3 white roundness">

						<div class="card-body ">
							<h2 class="card-title padding2 text_color">{{ post.title|title|upper }}</h2>
							<h6 class="card-subtitle mb-2 text-muted small py-2 padding">By:{{ post.author }}</h6>
							<div class="text margin">
							<p class="card-text text_color ">
							{{ post.text|truncatewords:20 }}
							</p>
							</div >

							<a href="{% url 'post_detail' post.id %}" class="btn btn-sm rm ">Read More</a>

						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-3">

				<div class="card my-4">
					<h5 class="card-header">About blog</h5>
					<div class="card-body white">
						<p class="card-text text_color">We love <b>Technology</b>. So we created a blog site to share
							technology news</p>
						<a href="{% url 'homepage' %}"
						   class="btn btn-sm  rm_d">
							More...
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>




{% endblock %}
